@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.food-munch-logo {
  width: 80px;
  height: 70px;
}

.banner-section-bg-container{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
    height: 100vh;
    background-size: cover;
    display: flex;

}
.nav-link{
    font-family: "roboto";
    
}
.nav-link:hover{
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    font-family: sans-serif;
    opacity: 1;
}
.banner-section-heading{
    color: white;
    font-family: "roboto";
    font-size: 50px;
}
.banner-section-paragraph{
    color: white;
    font-family: "roboto";
    font-size: 40px;
}
.view-menu-button{
    background-color:  #d0b200;
    border-width: 0px;
    border-radius: 6px;
    height: 40px;
    width: 100px;
    color: white;
}
.view-menu-button:hover{
    cursor: pointer;
    background-color: transparent;
    color: #d0b200;
    border-color: #d0b200;
    border-width: 2px;
    box-shadow: #5a7184;
}

.order-now-button{
    background-color:  transparent;
    border-width: 2px;
    border-radius: 6px;
    border-color: #d0b200;
    height: 40px;
    width: 100px;
    color: white;
}
.order-now-button:hover{
    background-color: #d0b200;
    color: white;
}

.wcu-section-heading{
    color: #183b56;
    font-size: 30px;
    font-family: "roboto";
    font-weight: bold;
}
.wcu-section-description{
    color: #5a7184;
    font-family: "roboto";
    font-size: 20px;
}
.wcu-card-image{
    height: 150px;
    width: 150px;
    margin-top: 5px;
}
.subcard-1{
    /* border: solid 5px black; */
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    margin:20px;
    cursor: pointer;
    width: 100%;
    
}
.wcu-heading{
    color: #183b56;
    font-family: "roboto";
    margin-top: 15px;
    font-weight: 500;
    
}
.wcu-description{
    color: #183b56;
    font-family: "roboto";
    margin-top: 15px;

}
.explore-menu-heading{
    color:#183b56;
    margin-bottom: 20px;
    font-style: italic;
    font-family: sans-serif;
    font-weight: bold;

}

.explore-menu-section{
    /* border: solid 4px black; */
    margin: 30px;
   
}

.item-image{
    border-radius: 15px;
    height: 250px;
    margin-top: 10px;
}
.item-image:hover{
    cursor: pointer;
}
.menu-item-subcard{
    margin-left: 3px;
}

.menu-item-description{
    color: #5a7184;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.view-all-link{
    color: #d0b200;
    margin-top: 5px;
}
.items-row{
    margin-bottom: 10px;
}
.healthy-food-section-heading{
    color: #183b56;
    font-family: "roboto";
}
.healthy-food-section-description
{
    color: #5a7184;
    font-family: roboto;
}
.healthy-food-section-img{
    height: 280px;
    width: 100%;
}
.Healthy-food-section{
    /* border: solid 5px black; */
    padding: 15px;
}
.watch-video-button{
    width: 130px;
    height: 40px;
    background-color: #d0b200;
    color: white;
    border-width: 0px;
    border-radius: 5px;
}
.watch-video-button:hover{
    cursor: pointer;
    background-color: transparent;
    color: #d0b200;
    border-color: #d0b200;
    border-width: 2px;
    box-shadow: #5a7184;
}
.delivery-and-payment-section{
    margin-top: 15px;
}
.delivery-and-payment-section-img{
    height: 400px;
    width: 100%;
}
.payment-card-img{
    height: 100px;
    width: 20%;
    margin : 10px;
    cursor: pointer;
    margin-top: 5px;
}
.delivery-payment-heading{
    color: #183b56;
    font-family: "roboto";
}
.delivery-and-payment-section-description{
    color: #5a7184;
    font-family: "roboto";
}
.follow-us-icon-container{
   text-align: center;
   margin: 10px;
}
.logo{
    
    background-color: #faf7e8;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    color: #d0b200;
}
.follow-us-heading{
    color: white;
    text-align: center;
    font-size: 40px;
}
.follow-us-section{   
    background-color: white;
    margin-bottom: 20px;
}
.food-munch-logo2 {
  width: 120px;
  height: 100px;
  margin-top: 10px;
}
.mail{
    color: white;
    font-family: "roboto";
    margin-top: 15px;
    font-size: 25px;
}
.address{
    color: white;
    font-family: "roboto";
    font-size: 25px;
   
}